{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    
    {% for listing in listings %}
    <div class="row  align-items-center">
        <div class="col-4">
            <img src="static/auctions/images/default_image.jpg">
        </div>
        <div class="col-4">
        <h5>{{ listing.title }}</h5>
        <br>
        <h5>Price: {{ listing.start_price }}</h5>
        <p class="text-muted">Created: {{ listing.pub_date }}</p>
    </div>
    </div>
    {% empty %}

    <h6 class="text-muted">No listings</h6>
    {% endfor %}
{% endblock %}