{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="text-center my-5">Listings in <b>{{ category }}</b></h2>

    {% for listing in listings %}
    <div class="row align-items-center">
        <div class="col-4">
            <img class="w-50" src="
            {% if listing.image %}
                {{ listing.image.url }}
            {% else %}
                {% static 'auctions/images/default_image.jpg' %}
            {% endif %}">
        </div>
        <div class="col-4">
            <h5>{{ listing }}</h5>
            <h5>Price: {{ listing.current_price }}</h5>
            <p class="text-muted">Created: {{ listing.pub_date }}</p>
        </div>
        <div class="col-2">
            <a class="btn" href="{% url 'show_listing' listing.id %}">Details</a>
        </div>
    </div>
    {% empty %}
        <h6 class="text-muted text-center">No listings in category <b>{{ category }}</b></h6>
    {% endfor %}
{% endblock %}